PUBLIC_SITE_URL=https://calculette-mauricette.pro
PUBLIC_PUBLISHER_NAME=
PUBLIC_PUBLISHER_TYPE=
PUBLIC_CONTACT_EMAIL=contact@calculette-mauricette.pro
PUBLIC_CONTACT_FORM_ENDPOINT=
PUBLIC_CONTACT_FORM_PROVIDER=
